/* CSS Stylesheet - Calculator */

body {
    background-color:#d9d9d9;
}

/* // <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 900 */

.orbitron {
  font-family: "Orbitron", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

#title-container {
    background-color:#ffffff;
    border: 1px #ffffff;
    border-radius: 25px;
    width: 600px;
    height: 75px;
    align-self: center;
    align-content: center;
    margin-left: auto;
    margin-right: auto;
}

#title-block {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 0px;
}

#calc-body {
    background-color:#54545e;
    border: 1px #ffffff;
    border-radius: 25px;
    width: 600px;
    height: 550px;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
}

#calc-display {
    display: flex;
    justify-content: flex-end;
    background-color:#d9d9d9;
    border: 1px #ffffff;
    border-radius: 25px;
    box-shadow: 5px 10px;
    width: 500px;
    height: 55px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 30px;
    padding-bottom: 20px; 
    padding-right: 10px;
    text-align: right;
    font-family: "Orbitron";
    font-size: 1.25ch;

}

p {
    margin-top: 0px;
    margin-bottom: 15px;
    font-size: 6ch;
    align-self: center;
}

#clear-container {
    width: 520px;
    height: 50px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px; 
}

#clear-button {
    background-color:#ffffff;
    border: 1px #ffffff;
    border-radius: 25px;
    box-shadow: 3px 8px black;
    width: 95px;
    height: 46px;
    font-size: 5ch;
    color: crimson;
    text-align: center;
}

#keys-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    row-gap: 14px;
    justify-content: space-evenly;
    border: 5 px #ffffff;
    width: 550px;
    height: 350px;
    margin-left: auto;
    margin-right: auto;
}

.keys {
    background-color:#ffffff;
    border: 1px #ffffff;
    border-radius: 25px;
    box-shadow: 5px 10px;
    width: 95px;
    height: 70px;
    font-size: 6ch;
}

.equals-key {
    background-color:#f48414;
    border: 1px #ffffff;
    border-radius: 25px;
    box-shadow: 5px 10px;
    width: 95px;
    height: 70px;
    font-size: 6ch;
}